.border-item {
  border-bottom: 1px solid black;
}

.basket-list {
  background: #000;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 20px;
  z-index: 5;
  display: inline-block;
  border: 2px solid black;

  width: 40rem;
  max-width: 95%;
  text-shadow: 0 0 1px rgb(50 251 226 / 30%), 0 0 2px rgb(50 251 226 / 30%),
    0 0 5px rgb(50 251 226 / 20%);
  --bs-list-group-bg: #be9eee;

  animation: show 600ms ease-in-out;
}
.flex {
  display: flex;
  justify-content: space-between;
}

.close {
  padding-right: 5px;
  line-height: 0.8em;
  font-weight: 400;

  font-size: 2em;
  height: 22.5px;
  cursor: pointer;
  transition: 0.3s;
}
.close:hover {
  line-height: 0.7em;
  color: red;
  font-weight: 900;
  transform: scale(1.2);
  text-shadow: 0 0 1px rgba(0, 0, 0, 0.3), 0 0 2px rgba(135, 74, 74, 0.3),
    0 0 5px rgba(255, 0, 0, 0.2);
}
.bg-primary {
  color: #32fbe2;
  text-align: start !important;
  font-size: large;
  text-shadow: 0 0 1px rgb(50 251 226 / 60%), 0 0 3px rgb(50 251 226 / 50%),
    0 0 0.5rem rgb(50 251 226 / 30%), 0 0 2rem rgb(50 251 226 / 20%);
  --bs-list-group-action-hover-color: #32fbe2;
}

.checkout {
  margin-top: 3px;
  margin-right: 2rem;
  font-size: 0.8rem;
  height: 1.5rem;
}

@keyframes show {
  from {
    top: 30%;
    opacity: 0;
  }
  to {
    top: 50%;
    opacity: 1;
  }
} ;
