.card {
  border: 2px solid black;
  background: #6f42c1;
  box-shadow: 0 0 2px rgb(111 66 193 / 90%), 0 0 4px rgb(111 66 193 / 40%),
    0 0 1rem rgb(111 66 193 / 30%), 0 0 4rem rgb(111 66 193 / 10%);
}

.card:hover {
  box-shadow: 0 0 8px rgb(111 66 193 / 90%), 0 0 16px rgb(111 66 193 / 40%),
    0 0 4rem rgb(111 66 193 / 30%), 0 0 16rem rgb(111 66 193 / 10%);
}

.card-body {
  padding: 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
