.alert-bye-position {
  position: fixed;
  top: 20%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 10px;
  z-index: 5;
  display: inline-block;
  border: 2px solid black;
  width: 20rem;
  max-width: 95%;

  text-align: center;
  padding: 20px 0;

  animation: showAlert 1000ms ease-in-out;
}

@keyframes showAlert {
  from {
    opacity: 0;
    top: 50%;
  }
  to {
    top: 30%;
    opacity: 1;
  }
}
